@charset "utf-8";
@import url(./reset.css);
@font-face {
  font-family: "Marvin Visions Variable";
  src: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/MarvinVisionsTrial-Variable.ttf");
}
@font-face {
  font-family: ‘yangjin’;
  src: url(‘https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff’)
    format(‘woff’);
  font-weight: normal;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css?family=Black+Han+Sans:400");

/* 커서 */
/* 헤더 */

.SMN_effect-46 a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.SMN_effect-46 a:before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 3px;
  left: 0;
  right: 0;
  bottom: -6px;
  background: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.SMN_effect-46 a:hover:before,
.SMN_effect-46 a:focus:before,
.SMN_effect-46 a:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* 공통영역 */

body {
  height: 100vh;
  font-family: ‘yangjin’;
  flex-direction: column;
  background-color: #1b1b1d;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 1rem;
}

body:after {
  content: "";
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/756881/texture.svg);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  pointer-events: none;
  opacity: 0.2;
  filter: invert(1);
  background-size: cover;
}

main {
  width: 100%;
  height: 100%;
}
footer {
  width: 100%;
  height: 100%;
}
section {
  height: 80%;
  width: 100%;
}
/* 헤더 */
header {
  width: 100%;
  height: 5%;
  background-color: #e241b2;
}
.hearder_wrap {
  width: 90%;
  height: 100%;

  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon {
  width: 50px;
  height: 50px;
  background-color: #2f2b28;
}
nav {
  width: 50%;

  height: 100%;
}
nav ul {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}
nav ul li {
  display: block;
  width: 25%;
  height: fit-content;
  text-align: center;
}
nav ul li a {
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: 800;
}

/* 메인 */

.fi {
  height: 100%;
  background-color: #e241b2;
  display: flex;
  align-items: center;
}
#quote {
  --weight: 10;
  font-family: "Marvin Visions Variable";
  font-size: 9.5rem;
  font-weight: 170;
  background-size: contain;
  line-height: 1;
  margin: 4%;
  text-align: left;
}

#quote > * {
  color: hsl(347, 7%, 29%);
  font-variation-settings: "wght" var(--weight);
}
.grid {
  grid-template-columns: repeat(3, 1fr);
}

/* 두번째 섹션 */
.two {
  width: 100%;
  height: 100%;
  background-color: #121212;
}
.wrap {
  display: flex;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  /* gap: ; */
}
.pro {
  width: 30%;
  height: 90%;
  background-image: url(../img/picture.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  /* filter: brightness(10.5); */
}

.txt_box {
  width: 63%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3%;
}
.txt_box h2 {
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 800;
  color: #ffffff;
  line-height: 52px;
}
.txt_box h2 span:hover {
  font-size: larger;
  font-weight: bold;

  transition: 0.3s;
}
.txt_box p {
  font-size: 18px;
  line-height: 28px;
  color: #ffffff;
}
/* 세번째 섹션 스킬트리*/
.skill {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  background-color: #121212;
}
.skill_wrap {
  width: 90%;
  position: relative;
  height: 100%;
  margin: 0 auto;
}
.skill_wrap > div {
  display: inline-block;
  position: absolute;
  top: 30%;
  left: 57%;
  width: 57%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.skill_wrap > div > a {
  color: #fff;
  background: #363636;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  font-family: fontawesome;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 83px;
  padding-top: 12px;
  margin: 0 2px;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-font-smoothing: antialiased;
}

.skill_wrap > div > a:hover {
  background: #363636;
}

/* pop-up text */

.skill_wrap > div > a span {
  color: #666;
  position: absolute;
  font-family: sans-serif;
  bottom: 0;
  left: -25px;
  right: -25px;
  padding: 5px 7px;
  z-index: -1;
  font-size: 14px;
  border-radius: 2px;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  -o-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

.skill_wrap > div > a span:before {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position: absolute;
  bottom: -5px;
  left: 40px;
}

/* text pops up when icon is in hover state */

.skill_wrap > div > a:hover span {
  bottom: 107px;
  visibility: visible;
  opacity: 1;
}

/* font awesome icons */

.skill_wrap > div > a:nth-of-type(1):before {
  background-image: url(../img/hugeicons_github.png);
  content: "\f09a";
}
.skill_wrap > div > a:nth-of-type(2):before {
  content: "\f099";
}
.skill_wrap > div > a:nth-of-type(3):before {
  content: "\f0d5";
}
.skill_wrap > div > a:nth-of-type(4):before {
  content: "\f113";
}
/* .skill_wrap > div > a:nth-of-type(5):before {
  content: "\f17d";
}
.skill_wrap > div > a:nth-of-type(6):before {
  content: "\f1cb";
} */

/*  */

/*  */
/* 색 끊어주는 섹션 */
.mid {
  width: 100%;
  height: 40%;
  background-color: #ffffff;
}
.mid div {
  width: 95%;
  height: 97%;
  margin: 0 auto;
  border-top: 1px dotted #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_txt {
  width: 95;
  margin: 0 auto;
  border-top: 1px dotted #000000;
}
.mid_main {
  font-size: 48px;
  font-weight: 400;
}
/* 네번째 섹션 포폴 영역*/
.for {
  background-color: rgb(255, 255, 255);
  position: relative;
  height: 3550px;
}
.for > div {
  width: 95%;
  box-sizing: border-box;
  gap: 15px;
  height: 750px;
  margin: 0 auto;
  display: flex;
  left: 2%;
  align-items: center;
  border-top: 1px dotted #000000;
  justify-content: space-around;
  position: sticky;
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  padding-bottom: 50px;
}
.for_txt {
  width: 30%;
  height: 80%;
}

.di_1 {
  top: -16px;
}
.di_2 .for_txt {
  margin-bottom: 60px;
}
.di_2 {
  top: 150px;
}

.di_3 {
  top: 315px;
}
.di_3 .for_txt {
  margin-bottom: 60px;
}
.di_4 {
  top: 464px;
}
.di_4 .for_txt {
  margin-top: 46px;
}
/* 텍스트 박스 제목라인 */
.for div > h2 {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  height: fit-content;
  top: -41%;
}
.hearder_txt {
  width: 70%;
  height: 15%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.tit_box {
  display: flex;
  flex-direction: column;
}
.tit_box p {
  line-height: 30px;
}
.tit_box h3 {
  width: fit-content;
  height: fit-content;
  font-size: 50px;
  color: #121212;
  font-weight: 600;
}
.menu_box {
  height: 77%;
}
.me_box {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
}
.me_box li h4 {
  font-size: 25px;
  margin-bottom: 10px;
}
.me_box li p {
  font-size: 16px;
  line-height: 25px;
  color: #4a4a4a;
}
/* 텍스트 박스 안 이미지 포폴 영역 */
.pic_box {
  width: 34%;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 80%;
  box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.1);
}
.pic_img1 {
  min-width: 34%;
  background-image: url(../img/clone.png);
}
.pic_img2 {
  min-width: 34%;
  background-image: url(../img/uiux.png);
}
.pic_img3 {
  min-width: 34%;
  background-image: url(../img/appadding.png);
}
.pic_img4 {
  min-width: 34%;
  background-image: url(../img/i_love_pdf.png);
}
/* btn */
.btn {
  display: block;
  width: 32%;
  height: 8%;
  border-radius: 10px;
  border: 0.5px solid;
  text-align: center;
  box-sizing: border-box;
  padding-top: 12px;
  font-size: 20px;
  font-weight: 200;
}
.btn:hover {
  background-color: #121212;
  color: #ffffff;
  transition: 0.3s;
}
/* 다섯번째 섹션 각오 +효과 */
.fiv {
  height: 200%;
  background-image: url(../img/dark1.jpg);
  background-repeat: no-repeat;
  filter: blur(6px);
  position: relative;
  z-index: 5;
}
/* 마지막 섹션 */
