@charset "utf-8";
@media screen and (max-width: 1615px) {
  .project2 {
    top: 22%;
  }
  .project3 {
    top: 35%;
  }
  .for div > h2 {
    top: -47%;
  }
}

@media screen and (max-width: 1360px) {
  .pro_hov1:hover .name_birth_info {
    bottom: 14%;
  }
  .pro_hov1:hover h2 {
    font-size: 16px;
  }
}
@media screen and (max-width: 1320px) {
  .typingTxt {
    font-size: 8rem;
  }
  .btn {
    margin-top: 50px;
  }
  .tit_box h3 {
    font-size: 26px;
  }
  .txt h4 {
    font-size: 15px;
  }
  .tree P {
    font-size: 1.5vw;
  }
  .fi {
    margin-top: 10%;
  }
}

@media screen and (max-width: 1180px) {
  .typingTxt {
    margin: 100% 0%;
  }
  .pro_sub {
    gap: 40px;
  }
  .pro_hov1 {
    background-size: 83%;
  }
  .tit_box p {
    font-size: 12px;
  }
  .project2 {
    top: 17%;
  }
  .me_box li {
    width: 100%;
  }
  .mid_main {
    display: none;
  }
  .mid_main_hidden {
    display: block;
    font-size: 3vw;
  }
  .tree P {
    font-size: 17px;
  }

  .txt_box h2 {
    font-size: 35px;
  }

  .txt a {
    font-size: 14px;
  }
  .txt_box p {
    font-size: 14px;
  }
  .btn {
    line-height: 36px;
    font-size: 17px;
  }
  .project3 {
    top: 28%;
  }
  .project4 {
    top: 39%;
  }
}

@media screen and (max-width: 1090px) {
  .pro_hov1:hover h2 {
    font-size: 15px;
  }
  .skill_wrap > div {
    left: 50%;
  }
  .menu_box {
    height: fit-content;
    margin-top: 50px;
  }
  .me_box li p {
    font-size: 14px;
  }
  .tit_box h3 {
    height: fit-content;
  }
  .header_txt {
    height: 3%;
  }
  .tit_box p {
    width: 160%;
  }
  .hidden_3d {
    display: none;
  }
  .txt_box {
    width: 70%;
  }
}

@media screen and (max-width: 1000px) {
  /* 커서 아웃 */
  #cursorBlob {
    display: none;
  }
  .wrap {
    gap: 20px;
  }
  .pro_hov1 {
    background-size: 100%;
  }
  .pro_hov1:hover h2 {
    font-size: 1.5vw;
  }
  .pro_hov1:hover .name_birth_info {
    bottom: 12%;
  }

  .txt_box h2 {
    font-size: 27px;
  }
  .txt_box p {
    font-size: 17px;
  }
  .mid_main {
    font-size: 2vw;
  }
  .hidden_tree_pc {
    display: none;
  }
  .hidden_tree_mo {
    display: block;
  }
  .tree h3 {
    font-size: 50px;
  }
  .tree P {
    font-size: 20px;
  }
  .hidden_work {
    display: none;
  }
  .hidden_work2 {
    display: block;
  }
  .me_box {
    gap: 50px;
  }
  .me_box li p {
    font-size: 17px;
  }
  .tit_box h3 {
    font-size: 25px;
    width: 307px;
  }
  .for div > h2 {
    display: none;
  }
  .project1,
  .project2,
  .project3,
  .project4 {
    top: 9%;
  }

  .btn {
    width: 100%;
    margin-top: 40%;
  }
}
/* 프로필 메인 flex */
@media screen and (max-width: 930px) {
  .pro_hov1:hover .name_birth_info {
    bottom: 0%;
  }
  .pro_hov1:hover h2 {
    font-size: 20px;
  }

  .wrap {
    flex-direction: column;
  }
  .txt_box h2 {
    font-size: 36px;
  }
  .skill_wrap {
    width: 100%;
  }
  .skill_wrap > div {
    left: 51%;
  }
  .hidden_me {
    display: none;
  }
}
@media screen and (max-width: 910px) {
  .me_box {
    margin-top: 50%;
  }
  .me_box li p {
    font-size: 15px;
  }

  .btn {
    font-size: 15px;
    width: 100%;
  }
  .tit_box p {
    width: 100%;
  }
  .me_box li {
    width: 100%;
  }
}
@media screen and (max-width: 870px) {
  .txt_box h2 {
    font-size: 33px;
  }
  .txt_box p {
    font-size: 13px;
  }
  .txt a {
    font-size: 15px;
  }
  nav ul li a {
    font-size: 18px;
  }
  .fi {
    height: 750px;
  }
  .typingTxt {
    font-size: 6rem;
  }
  .hidden_js,
  .hidden_pdf {
    display: none;
  }
}

/* work 모바일형 */
@media screen and (max-width: 700px) {
  /* header {
    padding: 20px;
    box-sizing: border-box;
  } */
  .header_wrap {
    justify-content: space-around;
    flex-direction: column;
  }
  h1 a {
    height: 46px;
    background-size: 77%;
  }
  nav {
    width: 100%;
  }
  .typingTxt {
    font-size: 5rem;
  }
  .header_wrap {
    justify-content: space-around;
  }
  .pro_hov1 {
    width: 387px;
  }
  .pro_hov1:hover .name_birth_info {
    bottom: 6%;
  }
  .for > div {
    flex-direction: column;
    width: 100%;
    height: 22%;
    gap: 0px;
    justify-content: normal;
  }
  .me_box li h4 {
    margin-bottom: 20px;
  }
  .btn {
    margin-top: 0px;
    position: absolute;
    width: 50%;
  }
  .for div > h2 {
    top: -9px;
    margin: 5px;
  }
  .for_txt {
    height: 50%;
    width: 83%;
    overflow: hidden;
  }
  .me_box {
    margin-top: 0%;
    gap: 0px;
    height: fit-content;
  }
  .project1 {
    z-index: 1;
  }
  .project2 {
    z-index: 2;
  }
  .project3 {
    z-index: 3;
  }
  .project4 {
    z-index: 4;
  }
  .pic_box {
    width: 85%;
    height: 30%;
  }
  .pic_img1 {
    order: -1;
  }
  .pic_img2 {
    order: -1;
  }
  .pic_img3 {
    order: -1;
  }
  .pic_img4 {
    order: -1;
  }
  .header_txt {
    height: 16%;
  }

  .menu_box {
    height: fit-content;
  }
  .txt_box {
    width: 74%;
    gap: 5%;
    text-align: justify;
    align-items: center;
  }

  .txt_box p {
    font-size: 15px;
  }

  .header_txt {
    height: 16%;
    margin-top: 27px;
  }
  .tree h3 {
    font-size: 43px;
  }
  .tree P {
    font-size: 18px;
  }
  .btn {
    line-height: 40px;
    margin-top: 60px;
    right: 28%;
  }
}
@media screen and (max-width: 650px) {
  .typingTxt {
    font-size: 5.5rem;
  }

  nav ul {
    gap: 20px;
  }
  .wrap {
    width: 100%;
  }
  .pro_hov1:hover h2 {
    font-size: 18px;
  }
  .txt_box {
    width: 83%;
  }
  .skill_wrap > div > a {
    height: 30px;
  }
  .skill_wrap > div {
    width: 70%;
  }
  .skill_wrap > div > a:nth-of-type(1):before {
    background-size: 80%;
  }
  .skill_wrap > div > a:nth-of-type(2):before {
    background-size: 80%;
  }
  .skill_wrap > div > a:nth-of-type(3):before {
    background-size: 80%;
  }
  .skill_wrap > div > a:nth-of-type(4):before {
    background-size: 80%;
  }
  .skill_wrap > div > a {
    height: 69px;
    padding: 2px;
    padding-top: 12px;
  }
  .tree_sub {
    width: 100%;
  }
  .sub {
    font-size: 15px;
  }

  .typingTxt {
    font-size: 6rem;
  }

  .ph_copy h4 {
    font-size: 13px;
  }
  .for div > h2 {
    display: none;
  }
  .me_box li {
    width: 100%;
  }
  .for_txt {
    width: 80%;
  }
}
/* 모바일형 */
@media screen and (max-width: 480px) {
  body {
    padding: 0rem;
  }
  main {
    width: 100%;
  }
  .header_wrap {
    justify-content: center;
  }
  nav {
    width: 100%;
  }
  nav ul li a {
    font-size: 16px;
  }
  .fi {
    height: 700px;
  }
  .typingTxt {
    font-size: 4rem;
  }
  .animation_holder {
    height: fit-content;
  }

  .sub {
    font-size: 18px;
  }
  .txt_box h2 {
    font-size: 31px;
    text-align: center;
  }
  .txt_box p {
    font-size: 14px;
    text-align: center;
  }
  .pro_sub {
    gap: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .skill_wrap {
    padding: 10px;
    box-sizing: border-box;
  }
  .skill_wrap > div {
    width: 100%;
  }
  .for > div {
    padding: 0px;
    height: 24%;
    margin-bottom: 100px;
    justify-content: center;
  }
  .pic_img1 {
    min-width: 300px;
    order: -1;
    max-height: 200px;
  }
  .mid div {
    padding: 10px;
    box-sizing: border-box;
  }
  .project1,
  .project2,
  .project3,
  .project4 {
    top: -3%;
  }
  .btn {
    margin-top: 20px;
  }
  .fiv {
    min-height: 63vh;
  }
}

@media screen and (max-width: 480px) {
  .fi {
    height: 600px;
  }
  .typingTxt {
    font-size: 3rem;
  }
  .pro_hov1 {
    background-size: 100%;
    width: 229px;
    height: 315px;
  }
  .txt_box h2 {
    font-size: 26px;
    line-height: 35px;
  }

  .txt_box p {
    font-size: 17px;
  }

  .mid_main_hidden {
    font-size: 13px;
    text-align: center;
  }
  .tree h3 {
    font-size: 30px;
  }
  .mid {
    height: 120px;
  }
}
@media screen and (max-width: 410px) {
  .txt_box h2 {
    font-size: 24px;
  }
}
